<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Abrar Zahin</ion-list-header>
    <ion-item>
      <ion-icon name="logo-ionic" slot="start"></ion-icon>
      <ul class="list-unstyled">
          <a href="https://www.linkedin.com/in/abrar-zahin-995648152/" class="text-white">
            <ion-icon name="logo-linkedin"></ion-icon> linkedin </a>
            <br>
          <a href="https://github.com/abrarzahin" class="text-white">
            <ion-icon name="logo-github"></ion-icon> Github </a>
            <br>
            <a href="https://stark-brook-76050.herokuapp.com/" class="text-white">
              <ion-icon name="person"></ion-icon>
              Portfolio </a>
                  <br>
                <a href="https://www.facebook.com/az.spondon" class="text-white">
                  <ion-icon name="logo-facebook"></ion-icon> Facebook</a>
                 <br>
              <a href="#" class="text-white">
                  <ion-icon name="mail"></ion-icon> abrarzahin@yahoo.com</a>
                  <br>
            
        </ul>
    </ion-item>
  </ion-list>
</ion-content>